<!DOCTYPE html>
<html>
<head>
  <title>GlysellinParentApi</title>
  <%= stylesheet_link_tag    "glysellin_parent_api/application", :media => "all" %>
  <%= javascript_include_tag "glysellin_parent_api/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
